#reset {
  display: block;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  font-size: 25px;
  background: #0b3c5d;
  color: white;
  margin: 25px auto;
}

#reset:hover {
  opacity: 0.98;
  transform: scale(1.03);
}

#reset:active {
  transform: scale(0.9);
  /* transform: translateY(1px); */
}

#container {
  width: 960px;
  height: 960px;
  margin: 0 auto;
  background: #3333;
  display: grid;
  /* grid-template-columns: repeat(16, 1fr); */
}

#container div {
  background: white;
  border: 1px solid black;
  
}

